* {
    margin: 0;
    padding: 0;
}

.article-view {
    margin: 10px 0;
}

.article-view-template-title {
    font-style: italic;
    line-height: 0;
}

.article-view-template-instructions {
    color: #bbb;
    line-height: 5px;
}

.article-view-title {
    font-size: 24px;
    line-height: 15px;
}

.article-view-content-subtitle,
.article-view-attachment-title {
    font-size: 18px;
    line-height: 5px;
}

.article-view-content {
    vertical-align: top;
    width: 65%;
    display: inline-block;
}

.article-view-attachment {
    vertical-align: top;
    width: 35%;
    display: inline-block;
}

.article-view-attachment img {
    max-width: 100%;
}

.article-view-attachment-doc {
    text-align: center;
    margin: 0 0 20px 0;
}

table {
    display: table;
}

caption {
    display: table-caption;
}

thead {
    display: table-header-group;
}

tr {
    display: table-row;
}

th {
    font-weight: bold;
}

tbody {
    display: table-row-group;
}

td,th {
    display: table-cell;
}

.titlepage h1,
.titlepage h3,
.titlepage img {
    text-align: center;
}

.titlepage img {
    max-width: 300px;
    max-height: 300px;
}