body.path-mod-uniljournal .fitem_dragdrop .row {
    margin: 0;
}

body.path-mod-uniljournal #elementsToAdd, body.path-mod-uniljournal #elementsAdded {
    list-style: none;
    padding: 10px;
    border: 1px solid rgb(196, 196, 208);
    margin: 0;
}

body.path-mod-uniljournal #elementsToAdd {
    margin-left: 10px;
}

body.path-mod-uniljournal #elementsToAdd li, body.path-mod-uniljournal #elementsAdded li {
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}

body.path-mod-uniljournal #elementsToAdd li .fitem, body.path-mod-uniljournal #elementsAdded li .fitem {
    display: none;
}

body.path-mod-uniljournal .fitem_dragdrop button {
    display: block;
}

body.path-mod-uniljournal .fitem_dragdrop .elementsToAdd, body.path-mod-uniljournal .fitem_dragdrop .elementsAdded {
    display: block;
    float: left;
    width: 45%;
}

body.path-mod-uniljournal #page-mod-uniljournal-view .logo > img {
    max-height: 500px;
    max-width: 100%;
}

body.path-mod-uniljournal .article {
    position: relative;
    display: block;
    width: 100%;
}

body.path-mod-uniljournal .article-edit {
    position: relative;
    display: block;
    float: left;
    width: 70%;
}

body.path-mod-uniljournal .article-edit.nocomments {
    width: 100%;
}

body.path-mod-uniljournal .article.article-comparison {
    width: 48%;
    margin-left: 0;
    margin-right: 0;
    float: left;
}

body.path-mod-uniljournal .article.article-comparison > div {
    width: 95%;
}

body.path-mod-uniljournal .article.article-comparison .article-view-attachment {
    width: 100%;
    border: none;
}

body.path-mod-uniljournal .article.article-comparison .article-view-content {
    width: 100%;
    box-sizing: border-box;
}

body.path-mod-uniljournal .article-comments {
    position: relative;
    display: block;
    float: right;
    width: 28%;
    background: lightgray;
    padding: 10px;
    box-sizing: border-box;
}

#page-mod-uniljournal-view_article #region-main .mform:not(.unresponsive) .femptylabel .fitemtitle {
    display: none;
}

body.path-mod-uniljournal .article-comments .mform .fitem {
    margin-bottom: 0;
}

body.path-mod-uniljournal .article-comments .mform .fitem .felement {
    width: 100%;
    margin-left: 0;
}

body.path-mod-uniljournal .article-comments-item .mform .fitem .felement textarea {
    width: 100%;
    margin: 0;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.path-mod-uniljournal #region-main .article-comments .mform:not(.unresponsive) .fitem .fitemtitle label {
    margin: 0;
}

body.path-mod-uniljournal .article-comments #fitem_id_submitbutton {
    padding: 0;
    margin: 10px 0 0 0;
    background: none;
    border: none;
}

body.path-mod-uniljournal #region-main .article-comments #fitem_id_text div {
    width: 100%;
    margin: 0;
}

body.path-mod-uniljournal #region-main .article-comments #fitem_id_text textarea {
    width: 100%;
    resize: vertical;
}

body.path-mod-uniljournal .article-comments-item {
    color: #789;
    background: #fff;
    padding: 10px;
    margin: 0;
    border-top: 5px solid #d3d3d3;
}

body.path-mod-uniljournal .article-comments-item fieldset, body.path-mod-uniljournal .article-comments-item fieldset div {
    margin: 0;
}

body.path-mod-uniljournal table fieldset, body.path-mod-uniljournal table fieldset > div {
    margin: 0;
    padding: 0;
    width: 100%;
}

body.path-mod-uniljournal .cell {
    vertical-align: middle;
}

body.path-mod-uniljournal .article-comments-item.current {
    color: #000;
}

body.path-mod-uniljournal .article-comments-item h5 {
    margin: 0;
    padding: 0;
}

body.path-mod-uniljournal .article-comments-item > a > img {
    position: absolute;
    right: 30px;
    margin: 5px 0;
}

body.path-mod-uniljournal .article-version-toggle {
    text-align: center;
}

body.path-mod-uniljournal .article-version-toggle a.arrow_link {
    margin: 0 0.5em;
}

body.path-mod-uniljournal .article-compare {
    text-align: center;
}

body.path-mod-uniljournal .state_form .fitemtitle {
    display: none;
}

body.path-mod-uniljournal .state_form .felement {
    margin-left: 0 !important;
}

@media screen and (max-width: 767px) {
    body.path-mod-uniljournal .article-edit {
        float: none;
        width: 100%;
    }

    body.path-mod-uniljournal .article-comments {
        float: none;
        width: 100%;
    }

    #page-mod-uniljournal-view_article #region-main .mform:not(.unresponsive) .femptylabel .felement {
        width: 100%;
        margin-left: 0;
    }

    body.path-mod-uniljournal .article-view-content {
        width: 100%;
    }

    body.path-mod-uniljournal .article-view-attachment {
        width: 100%;
        padding: 0;
        margin: 0;
    }

}

body.path-mod-uniljournal .article-view {
    margin: 10px 0;
    border-bottom: 1px dotted #DDD;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

body.path-mod-uniljournal .article-view:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

body.path-mod-uniljournal .article-view-template-title {
    font-style: italic;
}

body.path-mod-uniljournal .article-view-template-instructions {
    color: #bbb;
}

body.path-mod-uniljournal .article-view-title {
    font-size: 24px;
    margin-bottom: 20px;
}

body.path-mod-uniljournal .article-view-content-subtitle, body.path-mod-uniljournal .article-view-attachment-title {
    font-size: 18px;
    margin-bottom: 10px;
}

body.path-mod-uniljournal .article-view-attachment-title {
    text-align: center;
}

body.path-mod-uniljournal .article-view-content {
    vertical-align: top;
    width: 65%;
    display: inline-block;
}

body.path-mod-uniljournal .article-view-attachment {
    vertical-align: top;
    width: 33%;
    display: inline-block;
    margin: 1em 0;
    padding: 0;
    border-left: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;
}

body.path-mod-uniljournal .article-view-attachment > *,
body.path-mod-uniljournal .article-view-attachment .article-view-attachment-image img {
    width: 100%;
}

body.path-mod-uniljournal [class^="article-view-attachment-"] {
    text-align: center;
    margin: 0 0 20px 0;
}

body.path-mod-uniljournal #selectSortingDiv {
    float: right;
}